@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-flow: column;
}

header,
footer,
.hero-section {
    background: #1F2937;
    color: #f9fAf8;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

header img {
    width: 60px;
    height: auto;
}

header ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 8px;
}

header a {
    text-decoration: none;
    color: #f9fAf8;
}

.hero-section {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 20px 17px 0px 17px;
}

.left-hero {
    display: flex;
    flex-flow: wrap;
    padding: 30px;
}

.right-hero {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 30px;
}

.hero-section img {
    width: 110px;
    height: auto;
}

.hero-button {
    background-color: #3882f6;
    border-radius: 5px;
    padding: 8px;
}

.hero-button a {
    text-decoration: none;
    color: white;
}

.squares-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.square {
    display: flex;
    flex-flow: column wrap;
    padding: 16px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.squares {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 200px;
    padding: 16px;
    margin: 16px;
}

.square img {
    width: 60px;
    height: auto;
    border: 5px solid #3882f6;
    border-radius: 5px;
}

.quote-section {
    background: #e5e7eb;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    padding: 8px 17px 0px 17px;
}

cite {
    font-weight: bold;
}

.cta-section {
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    border-radius: 5px;
    margin: 15px;
}

.left-cta {
    color: white;
    padding: 8px;
}

.cta-button {
    
    background-color: #3882f6;
    color: white;
    border-radius: 2px;
    border: 2px solid white;
}

footer {
    text-align: center;
}