.body {
    display: flex;
}

header, footer, .hero-section {
    background: #1F2937;
}

header {
    display: flex;
    flex-flow: row nowrap;
}

.hero-section {
    display: flex;
}

.squares-section {
    display: flex;
}

.quote-section {
    background: #e5e7eb;
    display: flex;
}

cite {
    font-weight: bold;
}

.cta-section {
    display: flex;
}

footer {
    text-align: center;
}